<h2><%= board.escape("title") %></h2>


<article class="lists-container">
  <section class="lists"></section>
  <aside class="new-list"></aside>
</article>
<br>
<button class="destroy">Delete Board</button>
<br>
<br>
<a href="#">Index</a>
