<h2><%= board.escape("title") %></h2>


<article class="lists-container">
  <section class="lists group">
    <aside class="new-list list"></aside>
  </section>

</article>
<br>


  <div class="users-table"></div>
  <button class="destroy">Delete Board</button>
  <br>
  <a href="#">Index</a>
