<div class="hidden-button">
  <strong><%= card.escape("title") %></strong>
  <p>
    <%= card.escape("description") %>
  </p>

  <div class="card-assignment">
    <strong>Card Assignment:</strong>
    <ul class="assigned-users"></ul>
    <form class="checkbox-list">

    </form>
  </div>
  <button class="hover-visible">Delete Card</button>
</div>
