<div class="hidden-button">
  <strong><%= card.escape("title") %></strong>
  <p>
    <%= card.escape("description") %>
  </p>
  <ul class="items"></ul>

  <div class="card-assignment invis">
    <strong>Card Assignment:</strong>
    <ul class="assigned-users"></ul>
    <form class="checkbox-list">

    </form>
  </div>
  <div class="item-form-container">
    <button class="add-item invis">Add Item</button>
  </div>
  <button class="hover-visible invis">Delete Card</button>
</div>
