<h1>Create a New Board</h1>
<label>
  Title
  <input type="text" name="title">
</label>

<div class="member-inputs"></div>

<button class="add-member">Add Membership</button>
<button class="submit">Submit</button>
